{% extends "base.html" %}

{% block content %}
<h1>IMEI Check Warranty <span class="google-logo">
        <span>G</span><span>o</span><span>o</span><span>g</span><span>l</span><span>e</span>
    </span></h1>

<form action="/warranty">
    <!-- Added pattern for a 15-digit IMEI -->
    <input type="text" name="imei" id="imei" placeholder="Enter an IMEI" pattern="\d{15}" required
        title="Enter a valid 15-digit IMEI number" />
    <button type="submit">Submit</button>
</form>
{% endblock %}